.base {
    background-color: orange;
    color: black;
    font-size: 2em;
}

.red {
    color: #C70000;
    font-family: Comic Sans MS, Comic Sans;
}

.blue {
    color: #0000FF;
}

.green {
    color: #007500;
}